In [31]:
import pandas as pd
import numpy as np

df_evasao = pd.read_csv('./dados/dataset.csv')
df_evasao.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [32]:
df_formacao_pais = pd.read_csv('./dados/escolariedade.csv', sep = ";")
df_formacao_pais.head()

,escolaridade_mae,escolaridade_pai,ocupacao_mae,ocupacao_pai
0,3 - Ensino Técnico,1 - Fundamental,Prestador de serviços,Profissional nao qualificado
1,1 - Fundamental,4 - Ensino Superior,Profissional especializado,Profissional especializado
2,3 - Ensino Técnico,1 - Fundamental,Profissional nao qualificado,Profissional nao qualificado
3,3 - Ensino Técnico,1 - Fundamental,Prestador de serviços,Profissional especializado
4,3 - Ensino Técnico,1 - Fundamental,Profissional nao qualificado,Profissional nao qualificado

In [33]:
df_formacao_pais.shape

(4424, 4)

In [34]:
df_evasao.shape

(4424, 35)

In [35]:
df_merge = pd.concat([df_evasao, df_formacao_pais], axis=1).copy()
df_merge.shape

(4424, 39)

In [36]:
def formatar(valor):
    valor = valor*100
    return "{:.2f}".format(valor)

In [43]:
df_merge["Evasão"] = df_merge["Target"].map({"Dropout":1,"Graduate":0})
comparacao = df_merge.pivot_table(index="escolaridade_mae",values=["Evasão"],aggfunc=["mean","sum","count"]).reset_index()
comparacao.columns = ['Escolaridade mãe', 'Evasão (%)', 'Evasão absoluta', 'Total alunos']
comparacao['Evasão (%)'] = comparacao['Evasão (%)'].apply(formatar)
comparacao

      Escolaridade mãe Evasão (%)  Evasão absoluta  Total alunos
0     0 - Desconhecido      50.00              7.0            14
1      1 - Fundamental      36.28            341.0           940
2     2 - Ensino Médio      73.57            103.0           140
3   3 - Ensino Técnico      38.06            795.0          2089
4  4 - Ensino Superior      39.15            175.0           447

In [44]:
comparacao = df_merge.pivot_table(index="escolaridade_pai",values=["Evasão"],aggfunc=["mean","sum","count"]).reset_index()
comparacao.columns = ['Escolaridade pai', 'Evasão (%)', 'Evasão absoluta', 'Total alunos']
comparacao['Evasão (%)'] = comparacao['Evasão (%)'].apply(formatar)
comparacao

      Escolaridade pai Evasão (%)  Evasão absoluta  Total alunos
0     0 - Desconhecido      74.77             83.0           111
1      1 - Fundamental      37.17           1183.0          3183
2     2 - Ensino Médio      77.78              7.0             9
3   3 - Ensino Técnico     100.00              7.0             7
4  4 - Ensino Superior      44.06            141.0           320

In [42]:
comparacao = df_merge.pivot_table(index="ocupacao_mae",values=["Evasão"],aggfunc=["mean","sum","count"]).reset_index()
comparacao.columns = ['Ocupação da mãe', 'Evasão (%)', 'Evasão absoluta', 'Total de alunos']
comparacao['Evasão (%)'] = comparacao['Evasão (%)'].apply(formatar)
comparacao

,Ocupação mãe,Evasão (%),Evasão absoluta,Total alunos
0,Agricultores,33.77,26.0,77
1,Diretores e Gerentes,44.32,39.0,88
2,Engenharia ou areas relacionadas,25.00,1.0,4
3,Estudante,69.23,99.0,143
4,Forças armadas,37.50,3.0,8
5,Não informado,75.29,64.0,85
6,Prestador de serviços,35.90,406.0,1131
7,Professor,0.00,0.0,1
8,Profissionais da saúde,0.00,0.0,5
9,Profissional especializado,38.02,292.0,768
10,Profissional nao qualificado,37.32,490.0,1313
11,Trabalho em escritorio,14.29,1.0,7

In [40]:
comparacao = df_merge.pivot_table(index="ocupacao_pai",values=["Evasão"],aggfunc=["mean","sum","count"]).reset_index()
comparacao.columns = ['Ocupação do pai', 'Evasão (%)', 'Evasão absoluta', 'Total de alunos']
comparacao['Evasão (%)'] = comparacao['Evasão (%)'].apply(formatar)
comparacao

,Ocupação do pai,Evasão (%),Evasão absoluta,Total de alunos
0,Agricultores,35.20,69.0,196
1,Diretores e Gerentes,43.36,49.0,113
2,Engenharia ou areas relacionadas,0.00,0.0,1
3,Estudante,65.60,82.0,125
4,Forças armadas,39.63,86.0,217
5,Industria ou construção civil,0.00,0.0,10
6,Não informado,71.95,59.0,82
7,Prestador de serviços,39.32,289.0,735
8,Professor,0.00,0.0,1
9,Profissionais da saúde,0.00,0.0,1
10,Profissional especializado,35.87,462.0,1288
11,Profissional nao qualificado,37.88,325.0,858
12,Trabalho em escritorio,0.00,0.0,3